DirectoryIndex app/views/pages/home.php
RewriteEngine On
Options -Indexes

# Page
RewriteRule ^home$ app/views/pages/home.php
RewriteRule ^about$ app/views/pages/about.php
RewriteRule ^project$ app/views/pages/project.php
RewriteRule ^contact$ app/views/pages/contact.php
RewriteRule ^gallery$ app/views/pages/gallery.php

# Auth
RewriteRule ^403$ app/views/error/E403.php
RewriteRule ^404$ app/views/error/E404.php
RewriteRule ^500$ app/views/error/E500.php
RewriteRule ^signup$ app/views/auth/signup.php
RewriteRule ^login$ app/views/auth/login.php
RewriteRule ^logout$ app/views/auth/logout.php

# Admin
RewriteRule ^admin/$ app/views/admin/dashboard.php
RewriteRule ^admin/dashboard$ app/views/admin/dashboard.php
RewriteRule ^admin/signup$ app/views/admin/signup.php
RewriteRule ^admin/biography$ app/views/admin/biography.php
RewriteRule ^admin/contact$ app/views/admin/contact.php
RewriteRule ^admin/faq$ app/views/admin/faq.php
RewriteRule ^admin/user$ app/views/admin/user.php

Header always set X-Frame-Options "DENY"
Header always set X-Content-Type-Options "nosniff"
Header always set X-XSS-Protection "1; mode=block"

# Database
RewriteRule ^test$ page/test.php

# Error Page
ErrorDocument 403 /app/views/error/E403.php
ErrorDocument 404 /app/views/error/E404.php
ErrorDocument 500 /app/views/error/E500.php